# DataFrames

In [3]:
import pandas as pd

In [6]:
df = pd.DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

In [7]:
# Create a Data Frame from a list
my_list = [1,2,3,4,5]

In [9]:
df = pd.DataFrame(my_list)

In [10]:
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [18]:
# df with list of lists
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [19]:
# df with list of lists and specify column type
# Note âˆ’ Observe, the dtype parameter changes the type of Score column to floating point.
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Score'], dtype=float)
print(df)

     Name  Score
0    Alex   10.0
1     Bob   12.0
2  Clarke   13.0

In [22]:
# df from nparrays. Arrays must be of same length!
# If index is provided, it's length should be equal to length of arrays, else, it takes range on length of array
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [34]:
# Indexed DataFrame using Arrays
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Score':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'],dtype=float)
print(df)

        Name  Score
rank1    Tom   28.0
rank2   Jack   34.0
rank3  Steve   29.0
rank4  Ricky   42.0

In [32]:
# DataFrame from list of dictionaries
data = [{'a': 1, 'b': 2, 'd': 7},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b    d     c
0  1   2  7.0   NaN
1  5  10  NaN  20.0

In [35]:
# DataFrame from list of dictionaries - with index
data = [{'a': 1, 'b': 2, 'd': 7},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first_row', 'second_row'])
print(df)

            a   b    d     c
first_row   1   2  7.0   NaN
second_row  5  10  NaN  20.0

In [39]:
# Create a DataFrame with a list of dictionaries, row indices, and column indices
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys. Notice, here, it will ignore key - 'c' altogether!
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

print(df1)

        a   b
first   1   2
second  5  10

In [40]:
# Same as above, except we pass a column not same as the key in data, see what happens!
#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])

print(df2)

        a  b1
first   1 NaN
second  5 NaN

In [51]:
# DataFrame from Dict of Series
# TODO: Find out why first column ('one') becomes a float without we specifying dtype=float with first Series!
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
    }

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

# Column Selection from DataFrame

In [63]:
# Let's create a dataframe with list of DataFrame Series with indices
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [59]:
# Fetch a columns
print(df['two'])

a    1
b    2
c    3
d    4
Name: two, dtype: int64

In [61]:
# Fetch a spefic row of a specific column
print(df['two']['b'])

2

In [56]:
# Adding a new column to an existing DataFrame object with column label by passing new series
print ("Adding a new column 'three' by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])

print (df)

Adding a new column 'three' by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [64]:
type(df['one'])

pandas.core.series.Series