### Lists (serve as Arrays too in Python)

In [2]:
# List of integers
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [3]:
# List of mixed types are possible in Python
my_list = ['Something', 34, 45.34]
my_list

['Something', 34, 45.34]

In [4]:
len(my_list)

3

In [5]:
# List supports indexing, same as Strings
my_list[1]

34

In [10]:
# Slicing, similar to strings
my_list[0:1]

['Something']

In [7]:
my_list[1:]

[34, 45.34]

In [109]:
# Concatenating lists
another_list = ['one', 'two', 'three', 'four']
new_list = my_list + another_list
new_list

['Something', 34, 45.34, 'one', 'two', 'three', 'four']

In [110]:
# As with other languages, lists are mutable
new_list[0] = 'Anything'
new_list

['Anything', 34, 45.34, 'one', 'two', 'three', 'four']

In [111]:
# append to a list. Notice, it changes the original list
new_list.append('six')
new_list

['Anything', 34, 45.34, 'one', 'two', 'three', 'four', 'six']

In [112]:
# Remove an element from list. pop() will remove an element from the end
list1 = [1, 2, 'Something', 35.88, 'cool']
list1

[1, 2, 'Something', 35.88, 'cool']

In [113]:
# If no index is provided, pop removes the last element from the list
popped_item = list1.pop()
popped_item

'cool'

In [114]:
list1 # now becomes:

[1, 2, 'Something', 35.88]

In [115]:
# You can pass index position in pop() function too!
popped_2nd_element = list1.pop(1)
popped_2nd_element

2

In [116]:
list1 # now becomes:

[1, 'Something', 35.88]

In [119]:
# sorting - sort() method sorts a list in-place, does not return anything
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4,1,8,3]
new_list.sort()  # it sorts the list in-place. Doesn't return anything
new_list

['a', 'b', 'c', 'e', 'x']

In [120]:
num_list.sort()
num_list

[1, 3, 4, 8]

In [121]:
# NoteType is return value from function that does not return anything
sorted_list = num_list.sort()
type(sorted_list)

NoneType

In [28]:
# reverse a list
num_list.reverse()
num_list

[8, 4, 3, 1]

In [29]:
# List of lists and accessing the nested elements
list2 = [1, 2, [3, 4]]
list2

[1, 2, [3, 4]]

In [30]:
list2[2][1]  # should return 4. Use them as 2D arrays

4

In [127]:
num_list

[8, 1, 3, 4, 8]

In [128]:
num_list = [8] + num_list
num_list

[8, 8, 1, 3, 4, 8]

In [133]:
# index() method is similar to find(), provide the index of first occurence of elemement in the list.
# But index() can do more
num_list.index(8)

0

In [130]:
num_list.index(8, 1)  # Meaning, return index of element 8 at or after index 1

1

In [132]:
num_list.index(8, 2)  # Meaning return index of element 8 at or after index 2

5

In [134]:
num_list.index(1, 4)  # There is no 1 after on or after index 4, if you do this, it will be an error!

ValueError: 1 is not in list

#### extend() a list - add another list to it! Note: if you use append(another_list), you will add that list as nested list instead!! 
#### So, you do append() to add an element at the end of list, you do extend() when you need to add another list to your list

In [107]:
num_list

[8, 4, 3, 1, 8, 8]

In [108]:
another_list = [101, 102, 103]
num_list.extend(another_list)
num_list

[8, 4, 3, 1, 8, 8, 101, 102, 103]

In [153]:
# Clear a list
num_list.clear()
num_list

[]

### Dictionaries - format: {'key1': 'value1', 'key2': 'value2'}. Unlike Lists, Dictionaries are unordered, can not be sliced or sorted!

In [31]:
my_dict = {'key1': 'value1', 'key2': 'value2'}
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [32]:
my_dict['key1']

'value1'

In [33]:
prices_lookup = {'apple': 2.99, 'oranges': 1.99, 'milk': 5.80}
prices_lookup['oranges']

1.99

In [34]:
# Lists and Dictionaries inside a dictionary
d = {'k1': 123, 'k2': [0,1,2], 'k3': {'insideKey': 100}}
d['k2'][1]  # Access list inside a dictionary and use index on that to retrieve the value we need in list

1

In [37]:
d['k3']['insideKey']  # Access dictionary inside a dictionary and retrieve the value we need in it by key

100

In [39]:
# Apply string functions inside dictionaries
d['k3']['insideKey'] = 'something'
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 'something'}}

In [40]:
d['k3']['insideKey'].upper()

'SOMETHING'

In [43]:
d  # Notice, we did not change the original dictionary above

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 'something'}}

In [45]:
# we can change the original dictionary this way though
d['k3']['insideKey'] = d['k3']['insideKey'].upper()
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 'SOMETHING'}}

In [46]:
# Adding a new key - value in dictionary is easy
d['k4'] = 300
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insideKey': 'SOMETHING'}, 'k4': 300}

In [47]:
# Returns all the keys of a dictionary
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [48]:
# Returns all the values of a dictionary
d.values()

dict_values([123, [0, 1, 2], {'insideKey': 'SOMETHING'}, 300])

In [50]:
# Returns all the pairings of a dictionary. Returns a tuple, we'll learn soon.
d.items()

dict_items([('k1', 123), ('k2', [0, 1, 2]), ('k3', {'insideKey': 'SOMETHING'}), ('k4', 300)])

In [138]:
# This can create a dictionary for us! It will be a dictionary of keys as n and values as square of n
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [139]:
# Can make above reusable too!
def create_cube_dict(n):
    return {x:x**3 for x in range(n)}

In [141]:
my_cube_dict = create_cube_dict(10)
my_cube_dict

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [8]:
mydict = {'name': 'Ashesh'}
if 'email' not in mydict.keys():
    print("no key as email!")
else:
    mydict[email]

no key as email!

#### Iteration in a dictionary over keys, values and items

In [145]:
# It will pring tuples with k-v pairs. You can unpack them as below cell
for item in my_cube_dict.items():
    print(item)

(0, 0)
(1, 1)
(2, 8)
(3, 27)
(4, 64)
(5, 125)
(6, 216)
(7, 343)
(8, 512)
(9, 729)

In [147]:
# Unpacking tuple and making use of keys and values in a dictionary
for k,v in my_cube_dict.items():
    print(f'Key: {k}, Value: {v}')

Key: 0, Value: 0
Key: 1, Value: 1
Key: 2, Value: 8
Key: 3, Value: 27
Key: 4, Value: 64
Key: 5, Value: 125
Key: 6, Value: 216
Key: 7, Value: 343
Key: 8, Value: 512
Key: 9, Value: 729

In [148]:
# Alternatively, you can see keys and values and use them
for key in my_cube_dict.keys():
    print(key)

0
1
2
3
4
5
6
7
8
9

In [150]:
for value in my_cube_dict.values():
    print (value)

0
1
8
27
64
125
216
343
512
729

In [1]:
# Clear a dictionary
my_cube_dict.clear()
my_cube_dict

NameError: name 'my_cube_dict' is not defined

###### Tuples in Python - they are immutable (like strings) and unlike lists or dictionaries!

In [51]:
t = (1,2,3)
t

(1, 2, 3)

In [52]:
type(t)

tuple

In [53]:
len(t)

3

In [60]:
# Can mix object types with tuples too
t = ('one', 3, 5.6, 'two', 3)
t

('one', 3, 5.6, 'two', 3)

In [56]:
# index and count methods with tuples
t.count('3')  # will return 0 since there is no string in it as '3'

0

In [63]:
t.count(3)  # will return 1 since number 3 appears in tuple t - 2 times

2

In [64]:
t.index(5.6)  # returns the index of 5.6 in tuple t

2

In [66]:
# Immutability of tuple
# t[0] = 'three'  # will be an error since once created, you can't change a tuple!

### Tuples are used where you don't want data to accidently be changed by a programmer, e.g., passing data between programs. 
Helps on Data Integrity concerns.

In [68]:
t[0]  # You access a tuple element by index. Same as lists or string characters.

'one'

In [156]:
# Clear a tuple
# t.clear() # THIS WILL BE AN ERROR SINCE TUPLES ARE IMMUTABLE IN PYTHON!
t

('one', 3, 5.6, 'two', 3)

### Sets - unordered collections of unique elements. It hashes the elements to store them internally

In [182]:
myset = set()
myset.add(1)  # add() method adds an element
myset

{1}

In [161]:
myset.add(2)
myset

{1, 2}

In [183]:
myset.add(2)  # it will still be {1, 2}
myset

{1, 2}

In [187]:
# discard() method removes an element from a set
myset.discard(2)
myset

{1}

In [163]:
mylist = [1, 1, 1, 2, 2, 3,3,3]
myset = set(mylist)
myset

{1, 2, 3}

In [164]:
set('Mississippi')  # returns set of unique characters in given string!

{'M', 'i', 'p', 's'}

In [166]:
# Copy functionality. Can be useful when you don't want anyone to change your set, you create a copy and give them
# Note: This is deep copy, meaning, changes to one does not affect another!
their_set = myset.copy()
their_set

{1, 2, 3}

In [168]:
# Let's make a change to their_set
their_set.add(4)
their_set

{1, 2, 3, 4}

In [169]:
# Now, if you check your original set, it should still be the same!
myset

{1, 2, 3}

#### difference() in sets

In [173]:
# Gives what a set has that other set doesn't has
their_set.difference(myset)

{4}

In [174]:
# This will give empty set since all elements in myset is also there in their_set
myset.difference(their_set)

set()

#### difference_update() in sets - changes a set and removes common elements with given set

In [175]:
s1 = {1,2,3}
s2 = {1,4,5}

In [178]:
s1

{1, 2, 3}

In [179]:
s2

{1, 4, 5}

In [181]:
# Will change s1, remove intersection elements with s2 from it
s1.difference_update(s2)
s1

{2, 3}

#### More of set methods - intersection, isdisjoint, etc.

In [189]:
s1 = {1,2,3}
s2 = {1,2,4}

In [191]:
# intersection() will not change original set. If you need to change it, basically remove diplicates, do:
# s1.intersection_update(s2)
s1.intersection(s2)

{1, 2}

In [193]:
# Checks if there's any common elements between two sets. In this case, there is a common element - 1, so False
s1.isdisjoint(s2)

False

In [194]:
s3 = {6,9,11}

In [195]:
s1.isdisjoint(s3)

True

In [200]:
s4 = {1,2,3,5,6,7}

In [203]:
# Checks if all elements of s1 is in given set
s1.issubset(s4)

True

In [204]:
# Reverse of above, contains all the elements of given set
s4.issuperset(s1)

True

In [207]:
s5 = {1,2,3}

In [209]:
# Equality comparision is possible with two very different sets. They'll be same if all elements in it are same
s1 == s5

True

In [210]:
{'a', 'b', 'd'} == {'b', 'a', 'd'}

True

In [211]:
{'a', 'b', 'd'} == {'b', 'a', 'd', 'e'}

False

In [212]:
# symmetric_difference
s1 = {1,2}
s2 = {1,2,4}

In [215]:
# Returns elements that are not common. Think of it as Union - Intersection
s1.symmetric_difference(s2)

{4}

In [217]:
# Either way you do it, it will give Union - Intersection
s2.symmetric_difference(s1)

{4}

In [218]:
s1.union(s2)

{1, 2, 4}

In [219]:
s2.union(s1)

{1, 2, 4}

In [220]:
# update methods are available for above as well
s1.symmetric_difference_update(s2)
s1

{4}

In [221]:
s1 = {1,2}

In [158]:
# Clear a set
myset.clear()
myset

set()

###### Booleans in Python - True or False. Remember: it is capital T or capital F on True and False unlike true or false in other languages!

In [78]:
1 > 2

False

In [79]:
1 == 1

True

In [80]:
type(False)

bool

In [83]:
b = None  # equivalent to null or nil in other languages
b