In [1]:
2 == 2

True

In [2]:
2 == '2'

False

In [3]:
# Notice, this is True in Python!
'Bye' == 'Bye'

True

In [4]:
# But this is not
'Bye' == 'bye'

False

In [5]:
# The and operator
'h' == 'h' and 2 == 2

True

In [7]:
# The or operator
1 == 2 or 2 == 2

True

In [13]:
# The not operator. Reverses the boolean result from the expression that follows it. True -> False and False -> True
not(1 == 1)

False

In [9]:
# Note: The != operator is there too for above situation
1 != 1

False

In [10]:
# Technically paranthesis is not needed for not operator
not 23 != 24

False

In [11]:
not 300 > 4000

True

In [14]:
hungry = True
if hungry:
    print('Feed Me!')

Feed Me!

In [138]:
name = 'Ashesh1'
if name == 'Ashesh':
    print(f'Your name is: {name}')
else:  # Notice, you must add a colon and carriage return (enter) here, else it will be an error!
    print(f'I don\'t think your name is: {name}')

I don't think your name is: Ashesh1

In [25]:
# Notice the use of elif keyword here! This is similar to else if
loc = 'Bank'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Store is cool!')  # You can have as many elif statements here as want
else:
    print('I do not know much')

Money is cool!

###### For Loops:

In [26]:
mylist = [1,2,3,4,5,6,7,8,9,10]
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
for num in mylist:
    if num % 2 == 0:
        print(f'Even number: {num}')
    elif num % 2 != 0:
        print(f'Odd number: {num}')

Odd number: 1
Even number: 2
Odd number: 3
Even number: 4
Odd number: 5
Even number: 6
Odd number: 7
Even number: 8
Odd number: 9
Even number: 10

In [34]:
# Notice the trick indentation plays in Python! 
# list_sum at the end of outside of for loop block, totally based on indentation. No need of curly braces here!
list_sum = 0
for num in mylist:
    list_sum += num
list_sum

55

In [35]:
# Use underscore when variable is not needed inside of for loop
for _ in mylist:
    print('cool')

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [36]:
# Iterate through characters of a string
myvar = 'Hello'
for ch in myvar:
    print(ch)

H
e
l
l
o

In [37]:
# Iterate through tuples
tup = (1, 2, 3)
for item in tup:
    print(item)

1
2
3

In [39]:
# Iterate through list of tuples
mylist = [(1,2), (3,4), (5,6), (7,8)]
len(mylist)

4

In [40]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [42]:
# tuple unpacking!
for (a,b) in mylist:  # We duplicate the structure of tuple with our variables - (a,b)
    print(a)
#     print(b)

1
3
5
7

In [43]:
# In above, you can omit the parantheses, if you want to:
for a,b in mylist:
    print(b)

2
4
6
8

In [44]:
# tuple unpacking is used a lot in Python since a lot of built-in functions return tuples. Another example:
mylist = [(1,2,3), (4,5,6), (7,8,9)]
for a,b,c in mylist:
    print(b)

2
5
8

In [50]:
d = {'k1': 'value1', 'k2': 'value2', 'k3': 'value3'}

# Note, when we iterate through a dictionary, it only gives keys by default
for item in d:
    print(items)

k3
k3
k3

In [49]:
# we need to use .items() to get keys and values
for item in d.items():
    print(item)

('k1', 'value1')
('k2', 'value2')
('k3', 'value3')

In [52]:
# We can use it same way as tuples to use keys and values in the loop
for key, value in d.items():
    print(f'key: {key}, value: {value}')

key: k1, value: value1
key: k2, value: value2
key: k3, value: value3

###### While Loops

In [139]:
x = 0
while x < 3:
    print(f'The current value of x is: {x}')
    x += 1
else:  # else statement is not necessary here but we can use it if we want to
    print('x is not less than 3!')

The current value of x is: 0
The current value of x is: 1
The current value of x is: 2
x is not less than 3!

###### break, continue and pass keywords

In [59]:
# Like other languages, break breaks out of closest enclosing loop, continue skips current iteration
# and pass does noting at all.
x = [1,2,3]

for items in x:
    # I want to come back and fill it later on
    # But, you get an error: 'IndentationError: expected an indented block' if you do not put an actual code here
    # So, pass keyword is used which does nothing at all but Python is happy with that and error does not come up
    pass
print('end of my script')

end of my script

In [61]:
mystr = 'Sammy'

for ch in mystr:
    if ch == 'a':
        continue  # skip this iteration of the loop
    print(ch)

S
m
m
y

In [63]:
x = 0

while x < 5:
    if x == 3:
        break  # break from this loop once x reaches 3
    print(x)
    x += 1

0
1
2

###### Useful Operators in Python

###### range function

In [65]:
for num in range(5):  # range(n) will bring in 0 to n-1 for num
    print(num)

0
1
2
3
4

In [66]:
for num in range(3,6):  # will give num = 3 till 5, not including 6
    print(num)

3
4
5

In [69]:
for num in range(1,8,2):  # last argument - 2 here is step size
    print(num)

1
3
5
7

In [72]:
# range function is one of the generators, you can use it this way too
x = list(range(2,10,2))
x

[2, 4, 6, 8]

###### enumerate function

In [75]:
# Notice this cell. It is so common to need index count in for loops. So, can there be an easier way out?
index_count = 0
word = 'abcde'

for letter in word:
    print(f'letter at {index_count} is {letter}')
    index_count += 1

letter at 0 is a
letter at 1 is b
letter at 2 is c
letter at 3 is d
letter at 4 is e

In [76]:
# You get tuples if you use enumerate, which has the index as well as the value for that iteration!
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [79]:
# So, we can use enumerate this way by unpacking the tuples!
for index,letter in enumerate(word):
    print(f'letter at index {index}: {letter}')

letter at index 0: a
letter at index 1: b
letter at index 2: c
letter at index 3: d
letter at index 4: e

###### zip function - zips together multiple lists and returns tuples

In [87]:
# Notice: zip function forms as many tuples as the size of the smallest list involved! It ignores the extra elements.
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c']
list3 = [100, 200, 300, 400]

for items in zip(list1,list2,list3):
    print(items)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [86]:
# So.. let's use tuples unpacking with zip function too :)
for e1,e2,e3 in zip(list1,list2,list3):
    print(f'e1: {e1}, e2: {e2}, e3: {e3}')

e1: 1, e2: a, e3: 100
e1: 2, e2: b, e3: 200
e1: 3, e2: c, e3: 300

###### in operator. It is used in for loop but there are more usage to it

In [89]:
'x' in ['a', 'w', 'x']  # will return True

True

In [90]:
'x' in ['1', '2', '3']

False

In [91]:
# in keyword can be used to check if a string contains some chars!
'a' in 'america'

True

In [92]:
'mer' in 'america'

True

In [95]:
# in keyword can be used to check if a key exists in a dictionary
'mykey' in {'key1': 'val1', 'mykey': 'val2', 'key2': 'val3'}

True

In [97]:
# Same for values of a dictionary too
d = {'key1': 'val1', 'mykey': 'val2', 'key2': 'val3'}

'val3' in d.values()

True

###### Math functions - min, max and random library

In [98]:
mylist = [10,20,30,40,100]
min(mylist)

10

In [99]:
max(mylist)

100

In [101]:
# random library allows using many useful functions. On below line, a tab after import keyword shows the dropdown
from random import shuffle

In [104]:
# shuffle function allows shuffling elements
list1 = [1,2,3,4,5,6,7,8]
shuffle(list1)
list1

[4, 1, 5, 3, 8, 6, 7, 2]

In [105]:
# randint from random library
from random import randint

In [110]:
mynum = randint(0,100)  # will return a random integer between 0 and 100, not including 100
mynum

71

In [117]:
# input function helps get user inputs
result = input('Please enter your name: ')

Please enter your name: Ashesh

In [118]:
result

'Ashesh'

In [119]:
num = input('Please enter a number: ')  # Note: result will be a string and will need converting to number

Please enter a number: 45

In [120]:
num

'45'

In [124]:
type(num)  # If you check the type, it will be a string

str

In [125]:
int(num)  # you can convert it to an integer like this

45

In [126]:
float(num)  # or to a float like this

45.0

###### List comprehension. Easier way to populate a list, say, with characters of an array

In [128]:
word = 'hello'
mylist = [letter for letter in word]  # this is a shotcut of doing: for letter in word:
                                      #                                 mylist.append(letter)
mylist

['h', 'e', 'l', 'l', 'o']

In [129]:
# Another example of List Comprehension
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [131]:
# One more example of above
mylist = [num for num in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [132]:
# It gets better, we can do operations in above too, same as if we use a for loop instead to populate the list
mylist = [num**2 for num in range(0,11)]  # save squares of numbers 0 through 10 in a list
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [133]:
# Extend above more! Save list with square roots of even numbers between 0 through 10
mylist = [num**2 for num in range(0,11) if num % 2 == 0]
mylist

[0, 4, 16, 36, 64, 100]

In [134]:
# One more example on above. Here, we are iterating one list to compose another one in one line!
celcius = [0,10,20,34.4]
fahrenheit = [((9/5) * temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 93.92]

In [135]:
# You can do else as well in list comprehension but proper for loop is better for readability of code
# This is also because order in which we put if statement as compared to above, gets reversed
mylist = [x if x%2 == 0 else 'ODD' for x in range(0,11)]
mylist

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [137]:
# Another example, the nested loops where a new list can be composed in one line
# like above, be aware of readability aspect of the code, chose the regular nested for loops instead, if makes sense.
new_list = [x*y for x in [2,4,6] for y in [1,10,100]]
new_list

[2, 20, 200, 4, 40, 400, 6, 60, 600]